<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="main-text">
    <ion-row class="ion-justify-content-center">
      <ion-img [src]="icon" class="icon-launcher"></ion-img>
    </ion-row>
    <ion-row id="title">
      <ion-col size="12" class="ion-text-center">
        <ion-label>Mide es nuestro aliado para cada reunión.</ion-label>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-label>Parte de lo que hay que hacer es guardar nuestra distancia.</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border footer-for-main-action">
  <ion-button [routerLink]="['/stay-at-home']" expand="full" fill="clear" shape="round">
    Gracias
  </ion-button>
</ion-footer>