<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-img [src]="icon" class="icon-launcher"></ion-img>
    </ion-row>
    <ion-row id="title">
      <ion-col size="6" class="ion-text-end">
        <h1 id="mi">Mi</h1>
      </ion-col>
      <ion-col size="6" class="ion-text-start">
        <h1 id="de">De</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border footer-for-main-action">
  <ion-button [routerLink]="['/thanks']" expand="full" fill="clear" shape="round">
    Comenzar
  </ion-button>
</ion-footer>